<!DOCTYPE html>
<html>
<head>
  <title>Message Board</title>
</head>
<body>
  <h1>Message Board</h1>

  <!-- Form to submit a new message -->
  <form>
    <label for="author">Name:</label>
    <input type="text" id="author" required>
    <br>
    <label for="content">Message:</label>
    <textarea id="content" required></textarea>
    <br>
    <button type="submit">Post Message</button>
  </form>

  <!-- Display area for messages -->
  <div id="messageBoard"></div>
</body>
</html>



